body {
  background-color: #9921ff;
}

.inputForm {
  margin: 200px auto;
  /* background-color: #9921ff; */
  padding: 50px;
  width: 150px;
  /* border: 1px solid black; */
  display: block;
}

.inputColor {
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: #ffffff;
}

.rgbColor {
  margin: 10px 0 0 0;
  width: 150px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background-color: #55038e;
}