.main {
  margin: 20px auto;
  background-color: bisque;
  /* border: 1px solid black; */
  width: 583px;
  padding: 20px;
}

.inputs {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.inputs input{
  width: 195px;
  height: 50px;
  /* padding: 0; */
  font: inherit;
  color: inherit;
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: 1px solid black;
}

.inputs button{
  font: inherit;
  color: black;
  background-color: white;
  cursor: pointer;
  width: 90px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: 1px solid black;
}

.titlespan {
  display: block;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.titleinput {
  display: block;
  /* border: 1px solid black; */
  /* margin-bottom: 25px; */
}

.workouts {
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px 58px 0 34px;
}

.titleWorkouts {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  margin: 25px 0;

}

.titleWork {
  /* border: 1px solid black; */
  
}

.titleTop {
  text-align: start;
}

.titleButton {
  color: white;
  text-align: start;
  
}

.wrapperWorkout {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 0 0 25px 0;
}

.dataWo {
  /* border: 1px solid black; */
  display: flex;
}

.simbol {
  width: 20px;
  text-align: center;
  /* border: 1px solid black; */
}